
<nav>
  <div class="nav-wrapper">
	<a href="#!" class="brand-logo">Matcha - Core</a>
	<ul class="right hide-on-med-and-down">

		<li><a href="/users/log_out"><i class="material-icons left">input</i>Log out</a></li>

		  <!-- Dropdown Trigger -->
		  <a class='dropdown-button btn' href='' <% if !@new %> onclick="window.location.reload(true)" <% end %> data-activates='dropdown1'>
		  <% if @new %>
			  <span class="new badge" data-badge-caption="New notifications"></span>
		  <% else %>
			  Notifications
 		  <% end %></a>

		  <!-- Dropdown Structure -->
		  <ul id='dropdown1' class='dropdown-content'>
			  <% @notifications.each do |notif| %>
		    	<li><a href="<%= notif['link'] %>"><%= notif['notification'] %></a></li>
			  <% end %>
		  </ul>

	</ul>
  </div>
</nav>


<% flash.each do |flash| %>
	<p><%= flash[1] %><p>
<% end %>

	<!-- Modal Structure -->
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h2>My informations</h2>
			<p>Modify my informations</p>
			<form class="col s12" action="/update_info" method="post">
			  <div class="row">
				<div class="input-field col s6">
					<h5>Sexe</h5>
					<input name="sexe" type="radio" id="men" value="men" <% if session[:auth]['sexe'] == "men" %>
					  <%= "checked" %>
				   <% end %>/>
       				<label for="men">Men</label>
					<input name="sexe" type="radio" id="women" value="women" <% if session[:auth]['sexe'] == "women" %>
					  <%= "checked" %>
				   <% end %>/>
       				<label for="women">Women</label>
				</div>
				<div class="input-field col s6">
					<h5>Orientation</h5>

	  				  <input name="orientation" type="radio" id="hetero" value="Hetero" <% if session[:auth]['orientation'] == "Hetero" %>
  					 	<%= "checked" %>
  					 <% end %>/>
	  				  <label for="hetero">Hetero</label>
	  				  <input name="orientation" type="radio" id="bisexual" value="Bisexual" <% if session[:auth]['orientation'] == "Bisexual" %>
  					 	<%= "checked" %>
  					 <% end %> />
	  				  <label for="bisexual">Bisexual</label>
					  <input name="orientation" type="radio" id="homosexual" value="Homosexual" <% if session[:auth]['orientation'] == "Homosexual" %>
  					 	<%= "checked" %>
  					 <% end %>/>
	  				  <label for="homosexual">Homosexual</label>
				</div>
			  </div>
			  <br>
			  <div class="input-field inline">
				  <label for="age">Age</label>
				  <input id="age" type="text" name="age" value="<%= session[:auth]['age'] %>">
			  </div>

			  <div class="input-field inline">
				  <label for="code">Zip code</label>
				  <input id="code" type="text" name="zip_code" value="<%= session[:auth]['code'] %>">
			  </div>

			  <div class="input-field inline">
			      <input type="checkbox" id="indeterminate-checkbox" name="localisable" checked="true" />
			      <label for="indeterminate-checkbox">Localisable</label>
			  </div>

			  <div class="row">
				  <div class="input-field col s6">
					 <textarea id="bio" class="materialize-textarea" data-length="200" maxlength="200" name="bio" ><%= session[:auth]['bio'] %></textarea>
					 <label for="bio">Bio</label>
				</div>
			  </div>
			  <div class="row">
				  <div class="input-field col s6">
					<input id="interest" type="text" name="interest" class="validate" placeholder="Put your interest separate by a single space, ex: #love #you">
					<label for="interest">Interest</label>
				  </div>
				  <div class="input-field col s6">
					  <label for="min">Age: actual range(<%= session[:auth]['range_age'] %>)</label>
  					<p class="range-field">
  						<input type="range" id="min" min="18" max="100" name="min_age" />
  				  	</p>
  					<p class="range-field">
  						<input type="range" id="max" min="18" max="100" name="max_age" />
  				  	</p>
  				</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
						<label for="min_score">Score: actual range(<%= session[:auth]['range_score'] %>)</label>
					   <p class="range-field">
						   <input type="range" id="min_score" min="0" max="100" name="min_score" />
					   </p>
					   <p class="range-field">
						   <input type="range" id="max_score" min="0" max="100" name="max_score" />
					   </p>
				   </div>
				</div>

				<div class="row">
					<div class="input-field col s6">
						<label for="min_loc">Location: actual range(<%= session[:auth]['range_location'] %>)</label>
					   <p class="range-field">
						   <input type="range" id="location" min="0" max="100" name="location" />
					   </p>
				   </div>
				</div>

			  <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
				 <i class="material-icons right">send</i>
			 </button>
			</form>
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modal2" class="modal">
		<div class="modal-content">
			<h2>Settings</h2>
			<p>Modify my settings</p>
			<form class="col s12" action="/update_settings" method="post">
			  <div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" name="email" class="validate">
          			<label for="email">Email</label>
				</div>
				<div class="input-field col s6">
					<input id="first_name" type="text" name="firstname" class="validate" value="<%= session[:auth]['firstname'] %>">
			          <label for="first_name">First Name</label>
				</div>
				<div class="input-field col s6">
					<input id="lastname" type="text" name="lastname" class="validate" value="<%= session[:auth]['lastname'] %>">
			          <label for="lastname">Last Name</label>
				</div>
			  </div>
			  <button class="btn waves-effect waves-light" type="submit" name="submit">Submit
				 <i class="material-icons right">send</i>
			 </button>
			</form>
		</div>
	</div>

	<!-- Modal Structure -->
	<div id="modal3" class="modal">
		<div class="modal-content">
			<h2>My pictures</h2>
			<p>Modify my pictures</p>
			<form class="col s12" action="/update_images" method="post" enctype="multipart/form-data">
				<div class="row">
				    <ul class="collapsible" data-collapsible="accordion">
				      <li>
				        <div class="collapsible-header"><i class="material-icons">whatshot</i>Profile picture</div>
				        <div class="collapsible-body"><span>
							<img src="<%= @me['profile'] %>" alt="" height="300" width="300">
							<div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file" name="profile">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div></span></div>
				      </li>
				      <li>
				        <div class="collapsible-header"><i class="material-icons">whatshot</i>Second</div>
				        <div class="collapsible-body"><span>
							<img src="<%= @me['image2'] %>" alt="" height="300" width="300">
							<div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file" name="image2">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div></span></div>
				      </li>
				      <li>
				        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
				        <div class="collapsible-body"><span>
							<img src="<%= @me['image3'] %>" alt="" height="300" width="300">
							<div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file" name="image3">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div></span></div>
				      </li>
					  <li>
				        <div class="collapsible-header"><i class="material-icons">whatshot</i>Fourth</div>
				        <div class="collapsible-body"><span>
							<img src="<%= @me['image4'] %>" alt="" height="300" width="300">
							<div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file" name="image4">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div></span></div>
				      </li>
					  <li>
				        <div class="collapsible-header"><i class="material-icons">whatshot</i>Fifth</div>
				        <div class="collapsible-body"><span>
							<img src="<%= @me['image5'] %>" alt="" height="300" width="300">
							<div class="file-field input-field">
						      <div class="btn">
						        <span>File</span>
						        <input type="file" name="image5">
						      </div>
						      <div class="file-path-wrapper">
						        <input class="file-path validate" type="text">
						      </div>
						    </div></span></div>
				      </li>
				    </ul>
				</div>

			  <button class="btn waves-effect waves-light" type="submit">Submit
				 <i class="material-icons right">send</i>
			 </button>
			</form>
		</div>
	</div>

	<!-- Container -->
	<div class="row">
	  <div class="col s2 white">
		 <div class="row">
		   <div class="col s6 m6">
			 <div class="card">
			   <div class="card-image">
				<% if session[:auth]['profile'].nil? %>
   					<a href="#modal3"><img class="circle responsive-img" src="https://www.1plusx.com/app/mu-plugins/all-in-one-seo-pack-pro/images/default-user-image.png" height="100" width="100"></a>
   				<% else %>
   					<a href="#modal3"><img class="circle responsive-img" src="<%= session[:auth]['profile'] %>" height="100" width="100"></a>
   				<% end %>
				<div id="username" value="<%= session[:auth]['username'] %>" ></div>
			   </div>
			 </div>
		   </div>
		 </div>
		<div class="collection">
			<a href="/main/core" class="collection-item active"><i class="material-icons left">dashboard</i>Home</a>
			<a href="/main/profile/<%= session[:auth]['id'] %>" class="collection-item"><i class="material-icons left">perm_identity</i>Profile</a>
			<a class="modal-trigger collection-item" href="#modal1"><i class="material-icons left">info_outline</i>My informations</a>
			<a class="modal-trigger collection-item" href="#modal2"><i class="material-icons left">settings</i>Settings</a>
			<a href="/users/log_out" class="collection-item"><i class="material-icons left">input</i>Log out</a>
	    </div>
	 </div>

	 <div class="col s10 grey lighten-4 z-depth-2">
			<div class="row">
				<div id="msgs"></div>
				<% @users.each do |user| %>
				<% coords = user['location'].split(",") %>
				 <div class="col s3">
					 <div class="row">

					   <div class="col s3 m12">
						 <div class="card">
						   <div class="card-image">
							   <div class="carousel carousel-slider">
							     <a class="carousel-item" href="/main/profile/<%= user['id'] %>"><img src="<%= user['profile'] %>" height="400"></a>
							     <a class="carousel-item" href="/main/profile/<%= user['id'] %>"><img src="<%= user['image2'] %>" height="400"></a>
							     <a class="carousel-item" href="/main/profile/<%= user['id'] %>"><img src="<%= user['image3'] %>" height="400"></a>
							     <a class="carousel-item" href="/main/profile/<%= user['id'] %>"><img src="<%= user['image4'] %>" height="400"></a>
							     <a class="carousel-item" href="/main/profile/<%= user['id'] %>"><img src="<%= user['image5'] %>" height="400"></a>
							   </div>
							 <span class="card-title"><%= user['username'] %></span>
						   </div>
						   <div class="card-content">
							   <h4><%= user['firstname'] %> <%= user['lastname'] %></h4>
							   <span class="new badge" data-badge-caption="<%= user['sexe'] %>"></span>
							   <span class="new badge" data-badge-caption="<%= user['orientation'] %>"></span>
							   <% if distance(@coords[0].to_f, @coords[1].to_f, coords[0].to_f, coords[1].to_f) < 0 %>
								   <p>1 km</p>
							   <% else %>
							   		<p><%= distance(@coords[0].to_f, @coords[1].to_f, coords[0].to_f, coords[1].to_f).to_i %> km</p>
							   <% end %>
							 <p><%= user['bio'] %>.</p>
							 <% tag_count(@me['interest'].split(","), user['interest'].split(",")).each do |tag| %>
							 	<div class="chip"><%= tag %></div>
							 <% end %>
							 <br>
							 <a href="/main/profile/<%= user['id'] %>" class="waves-effect waves-light btn">Profile page</a>
						   </div>
						 </div>
					   </div>
					 </div>
				 </div>
				 <% end %>
			</div>
	 </div>

   </div>
	<!-- end Container -->

	<script type="text/javascript">
	var username = document.getElementById("username").value
		window.onload = function(){
		  (function()
		  {
			  var show = function(el)
			  {
				return function(msg)
				{
					var splited = msg.split(",");
					if (username != splited[1])
					{
						el.innerHTML = '<span class="new badge" data-badge-caption="You have a new notification pending"></span>';
					}
				}
			  }(document.getElementById('msgs'));

			var ws       = new WebSocket('ws://' + window.location.host + window.location.pathname);
			ws.onopen
			ws.onclose
			ws.onmessage = function(m) { show(m.data); };

		  })();
		}
	</script>
